*{
    font-family: 'Courier New', Courier, monospace;
    // border: 1px solid blue;
}
.card{
    max-width: 235px;
    padding: 10px;
    background-color: rgb(134, 223, 134);
    text-align: center;
    border: 1px solid green;
}
